#container{
background-color: #F9F9F9;
width: 1000px;
padding: 20px;
overflow: hidden;
}
#title{
    margin-top: -20px;
    padding: 10px 20px;
}
#tleft{
font-size: 200%;
font-weight: bold;
width: 475px;
display: inline-block;
vertical-align: top;
}
#tright{
font-size: 150%;
font-weight: bold;
width: 475px;
display: inline-block;
text-align: right;
margin-top: 5px;
}
#body{
    background:radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgba(28,9,14,1) 100%);
    display: inline-block;
    height: 1000px;
    width: 980px;
    padding: 10px;
}
#topb{
    padding: 15px;
}
.profilepic{
    border: 5px solid gray;
    display: inline-block;
    height: 262px;
}
#profile{
    max-height: 275px;
    width: 400px;
}
.bodbox{
    height: 272px;
    width: 525px;
    display: inline-block;
    background-color: lavender;
    vertical-align: top;
    margin-left: 10px;
}
.about{
    background-color: grey;
    height: 30px;
    width: 525px;
    padding-top: 15px;
    display: inline-block;
    font-size: large;
    font-weight: bold;
    color: white;
    text-indent: 10px;
}
.hello{
    margin: 10px;
}
#midb{
    padding: 15px;
}
#lamode{
    height: 625px;
    width: 305px;
    display: inline-block;
    background-color: lavender;
    vertical-align: top;
}
#family{
    height: 625px;
    width: 305px;
    display: inline-block;
    background-color: lavender;
    vertical-align: top;
    margin-left: 10px;
}
#fiveEleven{
    height: 625px;
    width: 305px;
    display: inline-block;
    background-color: lavender;
    vertical-align: top;
    margin-left: 10px;
}
.midtitle{
    background-color: grey;
    height: 30px;
    width: 305px;
    padding-top: 15px;
    display: inline-block;
    font-size: large;
    font-weight: bold;
    color: white;
    text-indent: 10px;
}
.midcontent{
    height: 150px;
    font-size: 11pt;
    margin: 10px;
}
.pic{
    width: 305px;
    height: 30%;
}
.mini{
    height: 50px;
    width: 50px;
    margin-left: 5px;
}
.bot{
    border-radius: 5px;
    background-color: #005A00;
    display: inline;
    margin-left: 110px;
    padding: 5px;
    color: white;
    font-weight: bold;
    font-size: 11pt;
    border: 1px solid black;
}
#footer{
    text-align:center;
    width: 1000px;
    margin-top: 5px;
    margin-bottom: -5px;
}
.tiny{
    height: 20px;
    width: 20px;
    padding-top: 5px;
}
#topfoot{
    font-size: 14pt;
}
#botfoot{
    font-size: 14pt;
    font-style: italic;
}
a {
    color: black;
}